#cardCollection {
    display: grid;
    background-color: #f7f7f7;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    width: 100%;
    border-radius: 25px;
    padding: 3rem;

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.75rem;
        padding: 0;
        background: unset;
    }
}

@keyframes spinn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg),
    }
}